/* 
COLOR PALETTE

New York Pink: #ce796b
Black Coral: #495867
Persian Orange: #c18c5d
Melon: #e7ad99
Desert Sand: #ecc8af

*/

$color-primary-dark: rgb(206, 121, 107);
$color-secondary: rgb(73, 88, 103);
$color-tertiary: rgb(193, 140, 93);
$color-primary-medium: rgb(231, 173, 153);
$color-primary-light: rgb(236, 200, 175);
